{% include 'header.html' %}
<br/>
<h2>Depositos Materiales</h2>
<br>
<br>

    <table class="table table-light" id="datatable">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Cantidad</th>
                <th>Material</th>
                <th>Deposito</th>
                
            </tr>
        </thead>
        <tbody>

            {% for deposito_material in deposito_material  %}
                
            
            <tr>
                <td>{{deposito_material[0]}}</td>
                <td>{{deposito_material[1]}}</td>
                <td>{{deposito_material[2]}}</td>
                <td>{{deposito_material[3]}}</td>
                
            </tr>
            {% endfor %}




        </tbody>
    </table>

{% include 'footer.html' %}
