{% include 'header.html' %}

<!-- ENVIAR Y RECIBIR MENSAJES DEL SERVIDOR -->
{% with messages= get_flashed_messages() %}

{% if messages %}
<div class="alert alert-success" role="alert">
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endwith %}


<!-- ------------------------------------------ -->

<div class="card">
    <div class="card-header">
        Movimientos
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos del Movimientos</h5>
        <p class="card-text">
            <a class="btn btn-success" href="{{url_for('movimientos_detalle')}}">Nuevo</a>

            <br>

            <table class="table table-light" id="datatable">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Tipo</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Numero Remito</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movimiento in movimientos %}
                        <tr>
                            <td>{{ movimiento[0] }}</td>
                            
                            {% if movimiento[1] == 'ENTRADA'%}
                             <td style="background-color: rgb(0, 255, 136)">{{ movimiento[1]}}</td>  
                            {% else%}
                             <td style="background-color: rgb(255, 115, 0)"> {{movimiento[1]}}</td>  
                            
                            {% endif %}



                            <td>
                                {% if movimiento[2] in id_depositos %}
                                    {{ nombres_depositos[id_depositos.index(movimiento[2])] }}
                                
                                {% elif movimiento[2] in id_proveedores %}
                                    {{ nombre_proveedores[movimiento[2]] }}
                                
                                                               
                                {% else %}
                                    {{ movimiento[2] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if movimiento[3] in id_depositos %}
                                    {{ nombres_depositos[id_depositos.index(movimiento[3])] }}

                                
                                {% else %}
                                    {{movimiento[3]}}

                                {% endif %}
                            </td>
                            <td>{{ movimiento[4] }}</td>
                            <td>{{ movimiento[5] }}</td>
                            <td>
                                <a onclick="return confirm('¿Desea dar de Baja al Movimiento?')" class="btn btn-danger"
                                    href="/eliminarmovimiento/{{ movimiento[0] }}">Eliminar</a>
                                <!-- Botón para abrir el modal -->
                                <!-- <a class="btn btn-primary" href="/MostarMovimiento/{{ movimiento[0] }}">Mostrar</a> -->
                                <a class="btn btn-info ver-herramienta" data-toggle="modal" data-target="#verHerramientaModal" data-herramienta-id="{{ movimiento[0] }}" href="#">Ver</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            

            <!-------------------------------------------MODAL------------------------------------------------>
            <div class="modal fade" id="verHerramientaModal" tabindex="-1" role="dialog" aria-labelledby="verHerramientaModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #eaffc2;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="verHerramientaModalLabel">Detalles del movimiento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >
                            <!-- Contenido del modal -->

                           
                            <b> <p id="nombreHerramienta">  </p> </b>
                            
                            <b> <div id="CantidadHerramientas"></div> </b>

                            <b> <p id="nombreMaterial">  </p> </b>
                            <b> <p id="cantidadMaterial">  </p> </b>
                            
                        </div>
                           
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>


    <script>
        // Manejador de clic para los enlaces "Ver"
        document.querySelectorAll('.ver-herramienta').forEach(function(element) {
            element.addEventListener('click', function() {
                // Obtener el ID de la herramienta desde el atributo data-herramienta-id
                var herramientaId = element.getAttribute('data-herramienta-id');
                
                // Realizar una solicitud AJAX para obtener los detalles de la herramienta
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // Parsear la respuesta JSON
                        var detalles = JSON.parse(xhr.responseText);
                        
                        // Limpiar el contenido anterior del modal
                        document.getElementById('nombreHerramienta').innerText = "";
                        document.getElementById('CantidadHerramientas').innerHTML = "";

                        document.getElementById('nombreMaterial').innerText="";
                        document.getElementById('cantidadMaterial').innerText="";

                        // Actualizar el contenido del modal con los detalles del material
                        


                        // Mostrar el nombre y cantidad de cada material si existe
                        detalles.lista_materiales.forEach(function(material) {
                            var materialContainer = document.createElement('div');

                            var materialNombre = document.createElement('p');
                            materialNombre.innerText = material.NombreMaterial;

                             var materialCantidad = document.createElement('p');
                             materialCantidad.innerText = "Cantidad: " + material.CantidadMaterial;

                            materialContainer.appendChild(materialNombre);
                            materialContainer.appendChild(materialCantidad);

                            document.getElementById('nombreMaterial').appendChild(materialContainer);
                        });

                        // Mostrar el nombre y cantidad de cada herramienta
                        detalles.detalles_herramientas.forEach(function(detalle) {
                            var herramientaContainer = document.createElement('div');

                            var herramientaNombre = document.createElement('p');
                            herramientaNombre.innerText = detalle.NombreHerramienta;

                            var herramientaCantidad = document.createElement('p');
                            herramientaCantidad.innerText = "Cantidad: " + detalle.CantidadHerramienta;

                            herramientaContainer.appendChild(herramientaNombre);
                            herramientaContainer.appendChild(herramientaCantidad);

                            document.getElementById('CantidadHerramientas').appendChild(herramientaContainer);
                        });
    
                        // Mostrar el modal
                        $('#verHerramientaModal').modal('show');
                    }
                };
                xhr.open('GET', '/MostarMovimiento/' + herramientaId, true);
                xhr.send();
            });
        });
    </script>


    {% include 'footer.html' %}